.auth-form__form {
  padding-bottom: 2rem;
  padding-inline: 1rem;
  margin: 2rem auto 0;
  min-width: 270px;
  max-width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
